{% extends "base.html" %}

{% block content %}
<div class='row justify-content-center'>
    <div class='col-sm-6 col-sm-offset-3'>
        <h2 class='text-align-center'><strong>Nuestra historia!</strong></h2>
        <p>Es una historia larga muy larga! Tenes tiempo? voy a contarte!</p>
        <p> Bla bla bla bla bla bla bla </p>
        <p> Bla bla bla bla bla bla bla </p>
        <p> Bla bla bla bla bla bla bla </p>
        <p> Bla bla bla bla bla bla bla </p>
        <p> Bla bla bla bla bla bla bla </p>
        <p> Bla bla bla bla bla bla bla </p>
        <p> Bla bla bla bla bla bla bla </p>
    </div>
</div>    

{% endblock %}