<!-- <h1>Hola Mundo!</h1> -->
{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Bienvenidos | {{ block.super }}{% endblock %}

{% block jumbotron_content %}

        <h1>Django</h1>
        <p class="lead">My first app</p>
        <a class="btn btn-lg btn-primary" href="/docs/4.4/components/navbar/" role="button">View navbar docs &raquo;</a>

{% endblock %}

{{ titulo }}
<hr/>
<br/>

{% block content %}

<form method="POST" action="">{% csrf_token %}
{{ form|crispy }}
<input type='submit' value='Registrame'>
</form>

{% endblock %}
